/* Styles Propriétés */
/*///////////////////////////////////////////////
                  Fonts
 /////////////////////////////////////////////*/
@font-face{
    font-family: "ArchitectsDaughter";
    src: url(polices/ArchitectsDaughter.ttf) format('truetype');
}
@font-face{
    font-family: "Shortcut";
    src: url(polices/SHORTCUT.ttf) format('truetype');
}
@font-face{
    font-family: "TarponMotel";
    src: url(polices/TarponMotel.otf) format('OpenType');
}


@font-face{
    font-family: "Montserrat Regular";
    src: url(polices/Montserrat-Regular.otf);
}
@font-face{
    font-family: "Montserrat Black";
    src: url(polices/Montserrat-black.otf);
}
@font-face{
    font-family: "Montserrat Medium";
    src: url(polices/Montserrat-medium.otf);
}
@font-face{
    font-family: "Montserrat Alternates SemiBold";
    src: url(polices/MontserratAlternates-SemiBold.otf);
}
/*///////////////////////////////////////////////
                  Propriétés page
 /////////////////////////////////////////////*/
body{
    margin: 0;
    font-family: "Montserrat Regular";
    
    
}
ul li{
    list-style: none;
}
a:visited{
    color:rgba(228, 127, 20, 0.5);
}
a{
    color: rgb(36, 35, 35);
    
}
a:hover{
    color: rgba(9, 124, 231, 0.5);
}
.container{
  width: 100%;
  margin: 0 ;
}

.topheader{
   background-color: rgba(18, 132, 185, 1); 
    height: auto;
    width: 100%;   
    position: fixed;
    top: 0;
    z-index: 1000;
    }
.twitter{
    display: block;
    text-align: center;
}
.contact{
    margin-bottom: 50px;
}

.bigbox{
    display: flex; /* Ajoute la propriété flex aux enfants */
    flex-wrap:  wrap; /* Autorise le retour à la ligne */
      
}

.menu{
    font-size: 1.5em;
    background-color: rgba(235, 238, 240, 0.1); 
    position: absolute ;
    opacity: 0.7;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;     
}
.menu a:visited{
    color:rgb(255, 255, 255);
    }
    
.menu a:hover{
    color:rgba(3, 3, 3, 0.9);
    font-style: oblique;

}
.menu a{
    list-style: none;    
    text-decoration: none;
    padding: 0 65px;
    color:rgb(246, 246, 252); 
          
}


.titre{
    /* color: rgba(20, 163, 230, 0.7); */
    color: rgb(252, 253, 253);
    font-size: 4.3em;
    
    margin: auto;    
}
h1
{
    padding: 10px;
    text-align: center;
    font-family: "Montserrat Alternates SemiBold";
    color: rgb(18, 132, 185);
    
}
h2{
    text-align: center;
    font-family: "Montserrat Alternates SemiBold";
    font-size: 1.3em;
    padding: 10px;
    color: rgb(18, 132, 185);
    
}
h3{
    text-align: center;
    font-family: "Montserrat Medium";
    font-size: 1em;
}

.savoirs h2{
    text-align: center;
    color: white;
}

.bouton{
    color: orange;
    text-decoration: none;
}

.bouton:hover {
    background-color:rgb(144, 57, 6);
    color: white;
    border-radius: 5px;
    padding: 2px;           
}

/*//////////////////////////////////////////////////////////////////
Propriétés des éléments enfants > box
/////////////////////////////////////////////////////////////// */


.box-1, .box-2, .box-3, .box-4, .box-5, .box-6{ 
    flex-basis: 33.33%;   /* la taille de base est fixée */
    box-sizing: border-box;  /* les dimensions du padding ou des bordures viennent diminuer les dimensions du contenu. */
    padding-left: 5px;
    padding-right: 5px;
    flex-shrink: 1;  /* interdit le rétrécissement */  
}

.box-1{
    flex-basis: 10%; /* Pour un box de 10% */
}
.box-2{
    flex-basis: 25%; /* Pour un box de 25% */
}
.box-3{
    flex-basis: 33.33%; /* Pour un box de 33.3% */
}
.box-4{
    flex-basis: 50%; /* Pour un box de 50% */
}
.box-5{
    flex-basis:  66.66%; /* Pour un box de 66.66% */
}
.box-6{
    flex-basis: 100%; /* Pour un box de 100% */
}

/*//////////////////////////////////////////////////////////////////
Containers de blocs
/////////////////////////////////////////////////////////////// */

.container-a-propos{ 
    display: flex;
    flex-flow: column; 
    align-items: center;
    justify-content: center;    
    margin-top: 280px;
    text-align: left;   
    height: auto;   
    background-color: rgba(255, 255, 255, 0.5);
}
.container-projet
{  
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;       
    height: auto;
    background-color: rgba(18, 132, 185, 0.6);
    
}
.container-competences{
    display: flex;
    flex-flow: row wrap; 
    align-items: flex-start;
    justify-content: center; 
    text-align: left;
    margin-top: 280px;
    padding: 50px;
    height: auto;   
    }

.container-experiences{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding: 20px;
    background-color: rgba(18, 132, 185, 0.6);
}

.container-formations{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding: 50px;
    margin: auto;
         
}
.container-atouts{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 50px;
    margin: auto;
    background-color: rgba(18, 132, 185, 0.6);
   
}
.container-outils{ 
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;    
    margin-top: 280px;
    text-align: center;   
    height: auto;   
  }
 
/*//////////////////////////////////////////////////////////////////
blocs
/////////////////////////////////////////////////////////////// */

.savoirs{
    text-align: left;
    padding: 30px;    
    margin: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(18, 132, 185, 0.6);
    background-color: rgb(18, 132, 185);
    color: white;
}

.exp{
    text-align: left;
    padding: 30px;    
    margin: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(18, 132, 185, 0.9);
    background-color: rgb(253, 249, 255);
}
.exp ul{
    list-style: none;
}

.formations{
    text-align: center;
    padding: 30px;    
    border-radius: 10px;
    margin: 30px;
    box-shadow: 2px 2px 2px 2px rgba(18, 132, 185, 0.9);   
}

.formations ul{
    list-style: none;
}
.atouts{
    text-align: center;
    padding: 30px;    
    border-radius: 10px;
    margin: 30px;
    box-shadow: 2px 2px 2px 2px rgba(18, 132, 185, 0.9);
    background-color: rgb(240, 234, 234); 
      
}
.outils{
    text-align: center;
    padding: 30px;    
    border-radius: 10px;
    margin: 30px;
    box-shadow: 2px 2px 2px 2px rgba(18, 132, 185, 0.9);    
}

.atouts ul{
    list-style: none;
}
.apropos{
    padding: 30px;
    margin: 30px;
width: 70%;
}
.projet{
    padding: 30px;
    margin: 30px;
    width: 70%;
     border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(18, 132, 185, 0.9);
    background-color: rgb(253, 249, 255);
}


.floatl{
    float: left;
}
.left{
    text-align: left;
   margin-left: 180px;
}
.floatr{
    float: right;
}
.right{
    text-align: right;
    margin-right: 180px;
}
.figureoutils{
    margin: 30px;
}

.outilsrealisations{
    text-align: left;
}
.divers{
    line-height: 50px;
}

/*//////////////////////////////////////////////////////////////////
Images Logo
/////////////////////////////////////////////////////////////// */
.logo1{
    margin: auto;
    background-color: transparent;    
}
.imagecv{
    float: left;
    margin-left: 10px;
    margin-right: 10px;      
}

.competenceslogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.experienceslogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.atoutslogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formationslogo{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.secondary
{
    text-align: center;
    
}
.navimage{
    padding: 20px;
    opacity: 1;
}
a:hover .navimage{
    opacity: 0.8;    
}
.copyright
{
    font-size: 0.8em;
    color: silver;
    background-color: rgb(18, 132, 185);
    text-align: center;
    padding:10px;
    margin: 0;
}

.permis{
    margin-bottom: -10px;
}

.recit{
    text-align: center;
    font-family: "Montserrat Alternates SemiBold";
    color:rgb(18, 132, 185);
}

/*//////////////////////////////////////////////////////////////////
Responsive
/////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px){  
      .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{ 
          flex-basis: 100%;
          text-align: center;    
}
 .container-a-propos{
     
 }
 .topheader{
     height: auto;
 }
}
@media screen and (max-width:600px){
    .container
{
    padding: 2px;
    margin: 0;
    margin-top: 200px;
    width: 100%
}
}

